<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <solvedata_events>
            <general>
                <enabled>0</enabled>
                <enabled_events>sales_order_save_after,sales_order_shipment_save_after,customer_register_success,customer_account_edited,customer_address_save_after,customer_login,customer_logout,checkout_cart_save_after,newsletter_subscriber_save_commit_after,order_cancel_after</enabled_events>
                <enabled_anonymous_cart_events>0</enabled_anonymous_cart_events>
                <enabled_convert_historical_carts>0</enabled_convert_historical_carts>
                <debug>0</debug>
                <cron_batch_size>100</cron_batch_size>
                <transaction_batch_size>10</transaction_batch_size>
                <sentry_dsn backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <event_retention_period>30 days</event_retention_period>
            </general>
            <api>
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <max_attempt_count>3</max_attempt_count>
                <attempt_interval>1</attempt_interval>
            </api>
            <sdk>
                <enabled>0</enabled>
            </sdk>
            <webhook_forwarding>
                <enabled>0</enabled>
                <url backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <disable_graphql>0</disable_graphql>
            </webhook_forwarding>
        </solvedata_events>
    </default>
</config>
