<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote">
        <plugin name="solve_quote_interceptor"
                type="SolveData\Events\Plugin\Quote\QuoteInterceptor"/>
    </type>
    <type name="SolveData\Events\Model\Logger\Handler\Debug">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SolveData\Events\Model\Logger\Handler\Exception">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SolveData\Events\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SolveData Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">SolveData\Events\Model\Logger\Handler\Debug</item>
                <item name="exception" xsi:type="object">SolveData\Events\Model\Logger\Handler\Exception</item>
                <item name="sentry" xsi:type="object">SolveData\Events\Model\Logger\Handler\Sentry</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="solvedata_events_event_listing_data_source" xsi:type="string">SolveData\Events\Model\ResourceModel\Event\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SolveData\Events\Model\ResourceModel\Event\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">solvedata_event</argument>
            <argument name="resourceModel" xsi:type="string">SolveData\Events\Model\ResourceModel\Event</argument>
        </arguments>
    </virtualType>
    <virtualType name="SolveData\Events\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">solvedata_events</argument>
        </arguments>
    </virtualType>
    <type name="SolveData\Events\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">SolveData\Events\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="solvedata_events_import_customer" xsi:type="object">SolveData\Events\Console\Command\Import\Customer</item>
                <item name="solvedata_events_import_order" xsi:type="object">SolveData\Events\Console\Command\Import\Order</item>
            </argument>
        </arguments>
    </type>
</config>
